// colores
// dark-colors
$primary-color-dark: #212121;
$secondary-color-dark: #151414;
$accent-color-dark: #ff0000;
$hover-color-dark: #771111;

//light-colors
$primary-color-light: rgb(224, 220, 220);
$secondary-color-light: rgb(128, 124, 124);
$accent-color-light: rgb(135, 14, 187);
$hover-color-light: rgb(97, 16, 174);







