<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>BENEFICIOS DEL FONDO DE SEGURO DE CESACIÓN</h1>
        <h3>
            El Fondo de Seguro de Cesación de Personal Civil del Ejército (FSCPC) es un Fondo que constituye un AUXILIO PECUNIARIO para el 
            Personal Civil nombrado del Ejército al momento de cesar, o para sus beneficiarios en caso de fallecimiento.
        </h3>

        <div className='beneficios-content'>
            <h2>FONDO DE SEGURO DE CESACIÓN DE PERSONAL CIVIL DEL EJÉRCITO </h2>
            <p>
                Es un Fondo solidario que se constituye con el fin de brindar un auxilio 
                pecuniario al personal aportante al momento de pasar a la situación de 
                cese, o para sus beneficiarios en caso de fallecimiento mientras sea 
                aportante.
                Remuneración Pensionable Común (RPC), es la base de cálculo que se 
                utiliza para efectuar el pago de los beneficios que otorga el FSCPC. 
                Mensualmente el socio aporta el 3.5% de la RPC.
                La administración del FSCEC tiene como función principal efectuar 
                actividades financieras que garanticen el cumplimiento del pago de los 
                beneficios que se otorgan.
            </p>

            <h2>BASE LEGAL</h2>
            <p>
                Su base legal está determinada por los Decretos Supremos N° 041 del 
                25 de junio de 1997 y el 048 del 18 de setiembre de 1998, los cuales 
                establecen los beneficios, forma de cálculo; entre otras disposiciones 
                para la administración del Fondo de Seguro de Cesación de Empleados 
                Civiles.
            </p>

            <h2>BENEFICIOS QUE OTORGA EL FSCPC</h2>
            <ul>
                <li>Seguro de Cesación.</li>
                <li>Adelanto del Seguro de Cesación.</li>
                <li>Actualización del Adelanto (Reintegro).</li>
                <li>Devolición de Aportes</li>
            </ul>
            <h4>aqui va una imagen</h4>

            <h1>"PENSAMOS EN TU BIENESTAR FUTURO"</h1>
            <h2>BENEFICIOS DEL FONDO DE SEGURO DE CESACIÓN</h2>

            <ul>
                <li> Al cesar con 60 años de edad los varones y 55 años de edad las mujeres.</li>
                <li> Al cesar y acreditando como mínimo: Mujer: 25 años de aportes y el varón: 30 años de aportes.</li>
                <li>Al cesar por invalidez o incapacidad en circunstancias ajenas al servicio.</li>
                <li> Al fallecimiento del socio. En este caso el pago se efectuará los beneficiarios que figuren en su Carta Declaratoria del FSCEC.</li>
            </ul>
        </div>
    </div>
    
</body>
</html>