@import "../Layout/variables.scss";

.contacto-wrapper {
    padding: 30px;
    padding-top: 50px;
    background: url('../../imgs/View/descargas/bg-descargas.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;     

    @media screen and (max-width: 600px){
        padding:50px 10px 30px 10px;
    }



    .sup_section{
        display: flex;
        flex-direction: row;
        max-width: 1500px;
        margin: auto;
        // flex-wrap: wrap;

        @media screen and (max-width: 1100px){
            flex-direction: column;
            gap: 30px;
        }

        .formulario_container{
            flex: 1;
            padding: 20px;

            h2{
                margin: 0 auto;
                width:500px;
                @media screen and (max-width: 590px){
                    width: 100%;
                }
            }
            .linea{
                width: 500px;
                margin: auto;
                position: relative;
                @media screen and (max-width: 590px){
                    width: 100%;
                    margin-bottom: 10px;
                }
                span{
                    display: block;
                    width: 60px;
                    height: 3px;
                    background-color: red;
                    margin-left:0;
                    border-radius: 5px;
                }
            }
            .form-contacto{
                display: flex;
                flex-wrap: wrap;
                padding: 5px;
                gap: 10px;
                justify-content: space-between;
                width: 500px;
                gap: 10px;
                margin: auto;
                @media screen and (max-width: 590px){
                    width: 100%;
                    gap: 10px;
                }
                
                textarea{
                    box-sizing: border-box;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 80px;
                    max-height: 80px;
                    border-radius: 12px;
                    outline: none;
                    padding: 10px;
                    resize: none;
                }
                
                #nombre, #email, #celular, #curso{
                    box-sizing: border-box;
                    width: 240px;
                    padding: 10px 12px;
                    border-radius: 8px;
                    outline: none;
                }


                .input_type_submit{
                    padding: 15px 0 15px 0;
                    display: block;
                    width: 100%;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid black;
                    background-color: #F50C10;
                    color: white;
                    font-weight: 700;
                    font-size: 16px;
                }
                
                @media screen and (max-width: 590px){
                    #nombre, #email, #celular, #curso{
                        width: 100%;    
                    } 
                    textarea{
                        box-sizing: border-box;
                        min-width: 100%;
                        max-width: 100%;
                        border-radius: 12px;
                        outline: none;
                        padding: 10px;
                        resize: none;
                    }
                }
                
            }
            
            @media screen and (max-width: 1100px){
                margin: auto;
                order: -1;
                flex-direction: column;
                padding-left: 30px;
                padding-right: 30px;
            }

            @media screen and (max-width: 550px){
                padding-left: 20px;
                padding-right: 20px;
            }



        }

    }





    .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 20px;

        section {
            background: linear-gradient(90deg,#920f0f 0%, #410613 80%);
            border-radius: 10px;
            text-align: center;
            svg {
                font-size: 3rem;
                margin-top: 20px;
                // margin-bottom: 20px;
                color: white;
            }

            h2,p{
                margin: 10px;
            }
            

        }

        @media screen and (max-width: 1000px){
            display: grid;
            grid-template-columns: 1fr 1fr;
      
        }
        @media screen and (max-width: 580px){
            display: grid;
            grid-template-columns: 1fr;
            img{
                margin-top: 100px;
            }
        }
    }


}