@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
$small: 420px;
$medium: 1280px;

.container-home {
    background: url('../../imgs/View/Home/bg-home.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 140px);
    padding: 0 30px;
    @media screen and (max-width: $small) {
        background: url('../../imgs/View/Home/background-imagen/1125x2436.png') no-repeat center center fixed;
        background-size: cover;
    }

    h2 {
        text-transform: uppercase;
        max-width: 428px;
        margin: 0;
        padding-top: 50px;
    }
    .mision {
        padding-top: 10px;
        h2 {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 22px;
        }
        p {
            max-width: 375px;
        }
    }
    .button-to-contact {
        background-color: #F50C10;
        text-transform: uppercase;
        padding: 20px 10px;
        margin-top: 40px;
        max-width: 206px;
        border-radius: 15px;
        font-size: 15px;
        font-weight: 700;
        .contact {
            text-decoration: none;
            color: #FFF;
        }

    }
}