@import "../Layout/variables.scss";

.main-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 400px;
    
    h1 {
        // @include gradient-text(rgb(223, 19, 19), rgba(239, 232, 232, 0.963), rgb(223, 19, 19));
        font-weight: 900;
        font-size: 3.5rem;
        width: 200px;
    }

    h2 {
        // @include gradient-text(rgb(223, 19, 19), rgba(248, 233, 233, 0.963), rgb(223, 19, 19));
        font-weight: 700;
        font-size: 2.5rem;
        width: 60%;
    }

    h3 {
        // @include gradient-text(rgb(223, 19, 19), rgba(248, 233, 233, 0.963), rgb(223, 19, 19));
        font-weight: 700;
        font-size: 1.6rem;
        width: 60%;
    }
}

.main-imgs {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .img1 {
        margin-left: -120px;
        margin-top: 40px;
        box-shadow: 10px 18px 124px 27px rgba(0,0,0,0.93);
    }

    .img2 {
        margin-left: 40px;
        margin-bottom: 40px;
        width: 120px;
        height: 120px;
        box-shadow: 10px 18px 124px 27px rgba(0,0,0,0.93);
    }

    .img3 {
        margin-left: 80px;
        width: 100px;
        height: 100px;
        box-shadow: 10px 18px 124px 27px rgba(0,0,0,0.93);
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

.WSimg {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 100;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

