@import "../Layout/variables.scss";

.institucional-wrapper {
}

.organigrama {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-grid {
    section {
        border: solid 1px white;
        p {
            padding: 0 1rem;
        }
    }
    margin-bottom: 50px;
}

.third-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    section {
        border: solid 1px white;
        text-align: center;
        p {
            padding: 0 1rem;
        }
    }
}