

.registrate-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;


    .form-usuario-container {
        box-sizing: border-box;
        width: max-content;
        height: max-content;
        border-radius: 10px;
        padding: 20px 30px;
        background-color: rgb(104, 102, 101);
    


        .form-user {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input{
                box-sizing: border-box;
                padding: 11px;
                width: 194px;
                height: 40px;          
            }

            .name_lastName{
                display: flex;
                gap: 10px;

                input{
                    &:focus{
                        outline: 2px solid blue;
                    }
                }
            }

      
            input[type='text'], input[type='email'], input[type='password'], input[type='date']{
                border-radius: 5px;
                border: none;
                outline: none;
                width: 100%;
                &:focus{
                    outline: 2px solid blue;
                }
            }
            input[type='submit']{
                width: 100%;
                border-radius: 8px;
                padding: 10px 0;
                border: none;
                outline: none;
                background-color: red;
                color: white;
                font-weight: 700;
                font-size: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
                cursor: pointer;
                &:focus{
                    outline: 2px solid blue;
                }

            }
        }

            

    }

}