@import "./Layout/variables.scss";

body {
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  // background: linear-gradient(90deg, rgba(84,6,6,1) 0%, rgba(31,11,15,1) 63%, rgba(9,0,3,1) 100%);
  background: #212121;

  color:white;


}

.them-icon {
  svg{
    width: 20px;
    height: 20px;
    fill: rgb(117, 114, 114);

    position: fixed;
    bottom: 85px;
    right: 30px;
    z-index: 100;

    cursor: pointer;
  }
}

.not-found {
}

@import "./Components/header.scss";
@import "./Components/home.scss";
@import "./Components/mision.scss";
@import "./Components/footer.scss";
@import "./Components/contacto.scss";
@import "./Components/usuarios.scss";
@import "./nuevo-usuario.scss";
@import "./Components/institucional.scss";
@import "./Layout/modal.scss";
@import "./Components/beneficios.scss";
@import "./Components/descargas.scss";
@import "./Components/registrate.scss";
@import "./Components/modal.scss";