@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container-descargas {
    padding: 30px;
    padding-top: 50px;
    background-image: url('../imgs/View/descargas/bg-descargas.png');
    .title-descargas {
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
    }
    .descargas-wrapper {
        display: flex;
        flex-direction: row;
        .descargas-card {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: #FFF;
            max-width: 284px;
            border: 1.5px solid rgb(116, 118, 120);
            .preview-img-pdf {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: 1px solid rgb(116, 118, 120);
            }
            .title-preview {
                padding: 13px 16px;
                a {
                    text-decoration: none;
                    color: rgb(60,64,67);
                    font-weight: 700;
                    font-size: 13px;
                    display:inline-block;
                    width: 224px;
                    text-overflow:ellipsis;
                    white-space:nowrap; 
                    overflow:hidden;  
                    margin-left: 8px;
                }
                .icon-extension {
                    width: 16px;
                    height: 16px;
                }
            }
        }
}
}