@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.Pago-wrapper {
    background-color: #FFF;
    min-height: calc(100vh - 140px);
    padding: 30px 30px 30px 30px;

    .button-back-perfil {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: end;
        p{
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            background-color: #F50C10;
            color: #FFF;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 15px 10px;
            border-radius: 15px;
        }
        a {
            text-decoration: none;
        }

    }
    .pago-container {

        padding-top: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #464E5F;

        &__info-perfil{
            display: flex;
            gap: 20px;
            align-items: center;
            &__bg{
                background: rgba(217, 217, 217, 0.4);
                border-radius: 10px;
                padding: 5px 15px;
            }
        }

        &__Concepto_Pago{
            table {
                border-collapse: collapse;
                width: 100%;

                .border_thead {
                    border-top   : 3px solid black;
                    border-bottom: 3px solid black; 
                    
                    th {
                        padding: 10px;
                        &:nth-child(1){
                            width: 50%;
                            text-align: left;
                        } 
                        &:nth-child(2){
                            width: 25%;

                        } 
                        &:nth-child(3) {
                            width: 25%;
                        }
                    }
                }

                .content-info {

                    th {
                        font-size: 16px;
                        padding: 0px 0px 10px 0px;
                        padding-top: 10px;
                        &:nth-child(1){
                            text-align: left;
                            padding-left: 10px;
                        } 
                    }
                }

                .content-pago-devolucion {
                    border-top   : 3px solid black;
                    font-size: 16px;

                    th {
                        padding: 10px;
                        &:nth-child(1){
                            text-align: left;
                            width: 50%;
                        } 
                        &:nth-child(2){
                            text-align: center;
                            width: 25%;
                        } 
                        &:nth-child(3){
                            text-align: center;
                            width: 25%;
                        } 

                    }
         
                }

            }

            .concepto-pago-sub-total{
                display: flex;
                align-items: center;
                justify-content: flex-end;
    
                .sub-total {
                    background-color: #D9D9D9;
                    border-radius: 10px;
                    color: #7d7d7e;
                    padding: 7px 15px;
                }
                p{
                    margin: 0;
                    margin-bottom: 15px;
                    padding: 10px;

                    &:nth-child(1){
                        text-align: right;
                        width: 75%;
                    } 
                    &:nth-child(2){
                        text-align: center;
                        width: 25%;
                    } 
                }
            }
            
            .sub-total-girado{
                width: 100%; 
                padding: 0;
                margin: 0;

                span{
                    display: inline-block;

                    &:nth-child(1){
                        width: 75%;
                        text-align: right;
                    } 
                    &:nth-child(2){
                        width: 25%;
                        text-align: center;
                    } 
                }
            }
    
            .dashed{
                border: 1px  dashed  #464E5F;
                margin-top: 10px;
            }

        }


    }



    .pago-container {

        padding-top: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #464E5F;

        &__info-perfil{

            @media screen and (max-width: 700px){
                display: flex;
                gap: 0px;
                align-items: flex-start;
                flex-direction: column;
                padding-bottom: 30px;
                border-bottom: 3px solid #464E5F;

                .ec-nombrado{
                    margin: 5px;
                    padding-left: 10px;
                }

                &__bg{
                    background: rgba(217, 217, 217, 0.4);
                    border-radius: 10px;
                    margin: 5px;


                }
            }
        }

        &__Concepto_Pago_media{
            table {
                border-collapse: collapse;
                width: 100%;
                display: flex;
                flex-direction: column;

                tbody{
                    border-bottom: 1px solid #464E5F;
                    padding-bottom: 20px;
                    padding-top: 20px;
                    
                    .content-info {
                        display: block;
                        width: 100%;
                        margin-top: 10px;

                        th {
                            font-size: 16px;
                            display: inline-block;
                            padding: 0;
                            width: 50%;
                            &:nth-child(1){
                                text-align: left;
                            } 
                            &:nth-child(2){
                                text-align: right;
                            } 
                        }
                    }
                }

                .content-pago-devolucion {
                    font-size: 16px;
                    padding: 30px 0;
                    display: block;
                    width: 100%;
                    border-bottom: 2px solid #464E5F;
                    margin: auto;

                    thead{
                        display: block;
                        padding: 10px 0;
                        tr{
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    tbody{
                        display: block;
                        padding: 0;
                        border-bottom: none;
                        tr{
                            display: flex;
                            justify-content: space-between;
                            padding: 5px 0;
                        }
                    }

                    @media screen and (max-width: 700px){
                        display: block;
                    }

                }

            }

            .concepto-pago-sub-total{
                display: flex;
                align-items: center;
                justify-content: flex-end;
    

                p{
                    margin: 0;
                    margin-bottom: 15px;
                    padding: 10px;

                    &:nth-child(1){
                        text-align: center;
                        width: 75%;
                        font-size: 20px;
                        width: 100%;
                        @media screen and (max-width: 400px){
                            font-size: 18px;
                        }
        
                    } 
                    &:nth-child(2){
                        text-align: center;
                        width: 25%;
                        @media screen and (max-width: 700px){
                            width: 100%;
                        }
                    } 
                    @media screen and (max-width: 700px){
                        margin: 0;
                    }
                }
                .sub-total {
                    background-color: #D9D9D9;
                    border-radius: 10px;
                    color: #7d7d7e;
                    padding: 7px 15px;
                }

                @media screen and (max-width: 700px){
                    display: block;
                }
            }
            
            .sub-total-girado{
                width: 100%; 
                padding: 0;
                margin: 0;

                span{
                    display: inline-block;

                    &:nth-child(1){
                        width: 75%;
                        text-align: right;
                        @media screen and (max-width: 700px){
                            text-align: center;
                            width: 100%;
                            font-size: 20px;
                            padding-top: 30px;
                            padding-bottom: 30px;
                        }
                        @media screen and (max-width: 400px){
                            font-size: 18px;
                        }
                    } 
                    &:nth-child(2){
                        width: 25%;
                        text-align: center;
                        @media screen and (max-width: 700px){
                            margin: auto;
                            background-color: #D9D9D9;
                            border-radius: 10px;
                            padding: 10px;
                            color: #7d7d7e;
                        }
                        @media screen and (max-width: 400px){
                            width: max-content;
                        }
                    } 

                    @media screen and (max-width: 700px){
                        display: block;
                    }
              
                }
                @media screen and (max-width: 700px){
                    padding-bottom: 20px;
                    border-bottom: #464E5F 3px solid;
                }
            }
    
            .dashed_container{
                margin-top: 30px;
                .dashed{
                    border: 1px  dashed  #464E5F;
                }
            }

        }


    }

    @media screen and (max-width: 700px){
        padding: 30px 20px;

    }

}